.dashboard-main-container {
  height: 100vh;
  padding: 30px;
  background-color: #fafafb;
}
.dashboard-main-container__h1 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}
.dashboard-main-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.dashboard-header-container__select {
  border: 1px solid;
  height: 100%;
  border-radius: 10px;
  text-align: center;
}
.dashboard-header-container__button {
  font-size: 12px;
  padding: 10px 6px;
}
.dashboard-main-container__charts {
  display: flex;
  flex-direction: column;
}
.dashboard-main-container__courses {
  margin-top: 30px;
  background-color: #fff;
  padding: 28px;
  border-radius: 10px;
  height: 35%;
}
.dashboard-courses-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.dashboard-courses-container__h2 {
  font-size: 22px;
}
.dashboard-courses-link {
  background-color: transparent;
  font-size: 13px;
  text-align: center;
  border: none;
  color: #605bff;
}
.dashboard-courses-container__list {
  width: 100%;
}
.courses-list-dashboard__header {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
  height: 30px;
}
.header-courses-list-dashboard__h3 {
  text-align: center;
  width: calc((100% - 116px) / 4);
}
.courses-list-dashboard__courses {
  width: 100%;
}
@media (min-width: 750px) {
  .dashboard-main-container__charts {
    flex-direction: row;
    height: 40%;
  }
  .charts-container__activity-posts,
  .charts-container__activity-interactions {
    width: 50%;
  }
  .dashboard-main-container__courses {
    height: 50%;
  }
}
.classroom-card-container__actions {
  display: flex;
  gap: 10px;
}
.action-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.action-icon:hover {
  transform: scale(1.2);
}