.chat-panel-container{
    height: calc(100vh - 40px);
    background-color: #fff;
    border-radius: 10px;
    padding: 0 30px 30px 30px;
}
.chat-panel-container__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.panel-chat-header__actions{
    display: flex;
    gap: 15px;
}
.actions-chat-panel-container__element{
    background-color: #F7F7F8;
    border-radius: 50%;
    width: 36px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-panel-container__messages{
    height: 75%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 10px;
}
.chat-panel-container__prompt{
    height: calc(25% - 100px);
    background-color: #FAFAFB;
    display: flex;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
}
.prompt-chat-form__input-container{
    display: flex;
    gap: 20px 10px;
    width: 86%;
}
.message-chat-container__figure{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-right: 15px;
    width: 20px;
    border-right: 1px solid;
    border-right-color: rgba(0, 0, 0, 0.5);
    height: 70%;
}
.chat-prompt-figure__image{
    width: 16px;
    aspect-ratio: 1;
    cursor: pointer;
}
.message-chat-container__input{
    width: 100%;
    color: #000;
    opacity: 0.5;
    font-size: 12px;
    border: none;
    padding: 10px;
}
.prompt-chat-form__user-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}
.prompt-send-container__element{
    width: 20px;
    aspect-ratio: 1;
    cursor: pointer;
}
.prompt-send-container__button{
    border: none;
    background-color: transparent;
    padding: 0;
}
 @media  (max-width: 850px) {
    .header-panel-element--media{
        display: none;
    }
   
 }  