.popUp-overlay-main{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.popUp-overlay-main__popup{
    padding: 30px;
    border: 1px solid;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 35%;
}
.popUp-container__actions{
    display: flex;
    justify-content: space-between;
}
.actions-popUp__header{
    margin-bottom: 20px;
}
.close-popUp-actions{
    cursor: pointer;
}
@media (max-width: 800px) {
    .popUp-overlay-main__popup{
        left: 0%;
    }
 }