.classroom-card-container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width:100%;
    text-align: center;
    align-items: center;
    height: 55px;
}
.classroom-card-container__name{
    color: #0068DD;
}
.classroom-card-container--odd{
    background-color: #FAFAFB;
}
.classroom-card-container__image{
    width: 13px;
    height: 17px;
}
.classroom-card-container__element{
    width: calc((100% - 116px)/4);
    text-align:center;
    font-size: 10px;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
    text-overflow:ellipsis;
    padding:5px;
    box-sizing:border-box;

}
.classroom-card-container__link{
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    display: block;
    max-width: 50px;
    text-decoration: none;
    background-color: var(--prinma);
}
@media (min-width: 750px) {
    .classroom-card-container__element{
       font-size: 16px;
    }
 }