.classroom-students-main-container__information{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    gap: 20px;
}
.information-student-list-container__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    gap: 15px;
    padding: 20px;
    border-color: #030229;
}
.top-information-student-container__image{
    width: 70px;
    aspect-ratio: 1;
}
.top-information-student-container__h2{
    font-weight: 600;
    font-size: 22px;
}
.top-information-student-container__h3{
    font-size: 14px;
    opacity: 0.7;
    color: #030229;
}
.information-student-list-container__sections{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.sections-student-container__h1{
    font-size: 18px;
    font-weight: 500;
}
.section-profile-container{
    display: flex;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid;
    border-color: rgba(3, 2, 41,0.2);
}
.section-profile-container__image{
    width: 15px;
    aspect-ratio: 1;
}
.section-profile-container__paragraph{
    font-size: 16px;
    color:#030229 ;
    opacity: 0.7;
}
.information-student-list-container__performance{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
@media (max-width: 700px) {
    .classroom-students-main-container__information{
        width: 100vw;
    }
   
}  